.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 240px;
  width: 240px;
}

@media screen and (max-width: 996px) {
  .featureSvg {
    height: 300px;
    width: 300px;
  }
}
