body {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #0685EE;
  color: #94D2FF;
  text-shadow: none;
}

#wrapper {
  margin: 0 auto;
  width: 800px;
}

#wrapper img {
  max-width: 100%;
  border-radius: 8px;
  display: flex;
  margin: 0 auto;
}

a,
footer a {
  color: white;
  text-decoration: none;
}

a:hover,
footer a:hover {
  color: white;
  text-decoration: underline;
}

a.btn {
  display: inline-flex;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  background: #94D2FF;
  color: #0685EE;
  padding: 1px 4px;
  border-radius: 4px;
  line-height: 18px;
  align-items: center;
}

a.btn:hover {
  text-decoration: none;
  background: white;
}

a.btn.github::before {
  content: '';
  height: 14px;
  width: 14px;
  background: url(images/github-icon.svg);
  background-repeat: no-repeat;
  background-size: 14px 14px;
  margin-right: 3px;
}

code,
pre {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

code {
  padding: 0 3px;
  border: none;
  background-color: rgb(148 210 255 / 20%);
  color: white;
  border-radius: 3px;
}

small {
  font-size: 14px;
  line-height: 18px;
}

small code {
  font-size: 13px;
  line-height: 18px;
}

ul,
ol {
  margin-left: 20px;
}

ul li,
ol li {
  padding-left: 0;
  line-height: 20px;
}

ul ul {
  margin-left: 24px;
}

header h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 64px;
  letter-spacing: -0.02em;
}

header h1 a {
  display: inline-flex;
  align-items: center;
}

header h1 a::before {
  content: '';
  background-image: url(images/kapowaz-squircle.svg);
  height: 48px;
  width: 48px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: 48px 48px;
  margin-right: 8px;
}

header h2 {
  color: #61AFFF;
  text-shadow: none;
}

main#content h1 {
  margin-bottom: 4px;
}

main#content h2 {
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-top: 24px;
}

main#content h3 {
  color: white;
  font-weight: 600;
}

main#content h4 {
  color: white;
  font-weight: 600;
}

main#content p {
  font-weight: 400;
}

main#content p,
main#content ul,
main#content ol {
  margin-bottom: 0;
}

main#content *+* {
  margin-top: 16px;
}

main#content li+li,
main#content li ul,
main#content li ol {
  margin-top: 4px;
}

main#content a[href^='https'] {
  padding-right: 12px;
  background-image: url(images/external-link.svg);
  background-repeat: no-repeat;
  background-size: 12px 18px;
  background-position: right center;
}

main#content footer {
  background-position: center 0;
  color: #61AFFF;
}

main#content footer a[href^='https'] {
  padding: 0;
  background-image: none;
}

main#content footer a,
main#content footer a:hover {
  color: #94D2FF;
}
